/* Breakpoints: mobile - max(600px)
             tablet - min(601px) and max(1024px) */

/* Utilities */

body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    /* display: block; */
}

/* start of header */

.header-banner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-banner-container{
    height: 646px;
    width : 1321px;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
}

.header-banner-text{
    height: 424px;
    width : 531px;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 106px;
    color: #ffffff;
}

.banner-primary-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #ffffff;
}

.banner-secondary-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 30px;
}

.banner-link-button{
    background: #dd0000;
    text-decoration: none;
    color: white;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:500;
    text-align: center;
    padding: 16px 25px 16px 25px;
    gap: 10px;
}

.banner-image img{
    padding-left: 20px;
    height: 613px;
    width: 581px;
}

/* start of main content */

.main-content{
    display: flex;
    justify-content: center;
    gap: 24px;
}


/* start of navbar */

.navbar{
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}

.navbar-tab{
    width: 252px;
    height: 64px;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar-tab a{
    text-decoration: none;
    color: #161616;
}

.navbar-tab:hover{
    background-color: #dd0000;
    color: #ffffff;
}

.selected-navbar-tab{
    background-color: #dd0000;
    color: #ffffff;
}

/* start of blog section */

.blogs{
    width: calc(100%-312px);
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 130px;
}

.blog-posts{
    height: 362px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
}

.blog-post-image{
    width: 312px;
    height: 175px;
}

.blog-post-highlight-container{
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-highlight{
    width: 67px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: inline;
}

.blog-post-primary{
    width: 272px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin: 0px 0px 20px 20px;
}

.blog-post-details{
    width: 143px;
    height: 26px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.blog-post-details img{
    margin-left: 50px;
}

.blog-post-subtext{
    padding-left: 20px;
    width: 19px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.view-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    display: none;
}

.view-button a{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start of footer */

.page-footer{
    width: 100%;
    height: 500px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-footer hr{
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-header{
    width: 100%;
    height: 215px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.footer-secondary{
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
}

.footer-secondary a{
    text-decoration: none;
    color: #b9b9b9;
}

.footer-secondary a:hover{
    color: #dd0000;
}

.footer-logos{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
}

.fixture-logo-container{
    width: 200px;
    margin: 50px;
}

.font-icons{
    color: #dd0000;
    font-size: 24px;
}
/* Start of css for the page "Match Fixtures" */

.fixtures{
    height: 188px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
}

.fixtures h2{
    font-family: "Poppins";
    font-size: 20px;
    font-weight:600;
    color: rgba(22, 22, 22, 1);
    margin-block-start: 20;
    margin-block-end: 0; 
}

.fixtures h3{
    font-size: 16px;
    font-weight:bold;
    color: rgba(22, 22, 22, 1);
}

.fixtures p{
    font-size: 16px;
    font-weight:normal;
    columns: #4D4D4D;
    margin-block-start: 10;
    margin-block-end: 0;
}

.fixture-versus{
    display: flex;
    gap: 22px;
    justify-content: center;
}

.fixture-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .header-banner-container{
        max-width: 1fr;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .header-banner{
        display: flex;
        flex-direction: column;
    }

    .header-banner-text{
        margin-left: 10px;
    }

    .banner-link-button{
        margin-top: 20px;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .navbar{
        width: 100vw;
        align-items: center;
        background-color: #ffffff;
        margin-top: 5px;
    }

    .navbar-tab{
        border: 1px solid #E8E8E8;
    }

    .header-banner-container{
        margin-bottom: 0px;
        border-radius: 5px;
    }

    .blogs{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .view-button{
        display: none;
    }

    .page-footer{
        width: 100vw;
        height: auto;
    }
    .footer-header{
        height: auto;
    }

    .page-footer hr{
        width: 80vw;
    }

    .footer-secondary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .footer-logos{
        height: auto;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .header-banner-container{
        max-width: 100%;
        height: auto;
        display: flex;
    }

    .header-banner{
        display: flex;
        width: 100vw;
        height: auto;
    }

    .header-banner-text{
        margin-left: 30px;
        margin-top: -30px;
    }

    .banner-link-button{
        margin-top: 20px;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .navbar{
        width: 100vw;
        align-items: center;
        background-color: #ffffff;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navbar-tab{
        border: 1px solid #E8E8E8;
    }

    .header-banner-container{
        border-radius: 0px;
        margin-bottom: 0px;
    }

    .blogs{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .view-button{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .page-footer{
        width: 100vw;
        height: auto;
    }

    .footer-header{
        height: auto;
    }

    .page-footer hr{
        width: 80vw;
    }

    .footer-secondary{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
    }

    .footer-logos{
        height: auto;
        margin-bottom: 20px;
    }

    .hide-content{
        display: none;
    }

}